# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - www/community/lovelace-card-mod/card-mod.js
    - www/community/weather-radar-card/weather-radar-card.js
    - www/community/simple-weather-card-bundle.js
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
